DATABASE_PATH=./database.sqlite

GRAPHQL_KELUHAN_URL=
GRAPHQL_TIMEOUT_MS=15000

WAHA_URL=http://localhost:3000
WAHA_SESSION=default
WAHA_API_KEY=

TYPING_DELAY_MIN_MS=3000
TYPING_DELAY_MAX_MS=20000
TYPING_DELAY_CHARS_PER_SECOND=6

KELUHAN_POLL_INTERVAL_MS=60000
KELUHAN_REMINDER_INTERVAL_MS=900000
KELUHAN_POLL_LIMIT=100
KELUHAN_RANGE_DAYS=7